#cisla {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

#cisla button {
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
}
#smazat {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
#napoveda {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}